.product-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px 0;
}
.product-img img {
  width: 85%;
  height: 400px;
  object-fit: contain;
}
.product-title,
.product-price,
.product-tags {
  color: var(--black);
}
.product-title,
.product-price {
  font-weight: 500;
}
.product-price{
  margin-top: 10px;
}
.product-subDesc {
  color: var(--blue-gray);
}

.product-tags {
  display: flex;
  gap: 20px;
}

.product-button {
  color: var(--white);
  background-color: var(--pink);
  border: none;
  width: 250px;
  padding: 10px;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 10px;
  transition: all 0.3s;
}
.product-button:hover {
  opacity: 0.9;
}

@media (width<856px) {
  .product-details {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
