@import url("https://fonts.googleapis.com/css2?family=Arapey&family=Roboto+Slab&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root {
  --off-white: #fcfcff;
  --gray: #8498af;
  --blue-gray: #697586;
  --white: #ffff;
  --black: #383838;
  --purple: #b0a6bd;
  --pink: #f5a3b7;
  --light-pink: #fee2e3;
  --green: #7fccc6;
  --red: #e77373;
  --orange: #fdb64e;
}

.container {
  max-width: 1280px;
  margin-inline: auto;
}
.logo {
  font-family: "Arapey", serif;
}
.nav-wrapper {
  max-width: 1280px;
  margin-inline: auto;
  height: 60px !important;
}

.nav-link {
  color: #fff !important;
}
.navbar-edit {
  background-color: #000 !important;
}
.navbar-edit:hover {
  background-color: #000 !important;
}
.logout {
  border-radius: 12px;
  background: #272a34 !important;
}
